@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  color: whitesmoke;
}
h1,
p {
  text-align: center;
}
p {
  margin: 10px 0;
}
ul {
  list-style-type: none;
  border: 1px solid whitesmoke;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #040b16;
  padding: 20px;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.coin {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 32px;
  background: none;
  border: 1px solid whitesmoke;
  background-color: #040b16;
}
.submit {
  width: 20%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid whitesmoke;
  background-color: #040b16;
}
.submit:hover {
  cursor: pointer;
}
.cryptoBody {
  /* background-color: lightblue; */
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cryptoCoins {
  display: flex;
  justify-content: center;
  background-color: light;
}
.allCoin,
.allCoin2,
.allCoin3,
.allCoin4 {
  margin: 20px 50px;
  text-align: center;
}
.info {
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid whitesmoke;
  background-color: #040b16;
  padding: 20px;
  text-align: center;
}
.videobg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (min-aspect-ratio: 16/9) {
  .videobg {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .videobg {
    width: auto;
    height: 100%;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 20px;
}
@media only screen and (max-width: 375px) {
  .crypto h1 {
    font-size: 24px;
  }
}
